html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



h1 {
    font-family: "Crimson Text", serif;
}

body {
    margin-bottom: 60px;
    font-family: "Crimson Text", serif;
    background-color: #ffe5a0;
    padding: 20px;
    color: #4b2e12;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff8e1;
    border: 2px solid #8b5a2b;
    border-radius: 6px;
}

th {
    background: #eaddc4;
    padding: 12px;
    font-family: "Crimson Text", serif;
    color: #4b2e12;
}

td {
    padding: 12px;
    border-top: 1px solid #d8c2a8;
    font-family: "Libre Baskerville", serif;
}

tr:hover {
    background: #e8d4b8;
    cursor; pointer;
}

.btn-edit {
    background: #9c6c38;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-delete {
    background: #b0472e;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn-cancel {
    background: #f5e1b6;
    color: #8b5a2b;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid #d8c2a8;
    font-weight: bold;
    cursor: pointer;
}

.home-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin 50p 20p;
    flex-wrap: wrap;
}

.card {
    background-color: #fff8e1;
    border: 2px solid #d8c2a8;
    border-radius: 12px;
    padding: 30px;
    width: 250px;

}

a {
    color: #9f1717;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 20px 5px;
    color: #8b5a2b; 
    background: #fff8e1; 
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    margin: 40px;
    animation: floatHeader 2s ease-in-out infinite alternate;
}

header h1 {
    font-size: 62px;
    margin: 0;
    color: #d2691e; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

header p {
    font-size: 20px;
    margin-top: 10px;
    color: #8b5a2b;
}

.site-footer {
    
    color: #8b5a2b;
    text-align: center;
    margin-top: 20px;
    padding: 20px 10px;
    border-top: 2px solid #d8c2a8;
}